#errorlog_showcase {
  color: red;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}

#qrcode {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.flex {
  display: flex;
}
.flex.row {
  justify-content: center;
  align-items: center;
  gap: 15px;
}

input {
  height: 1rem;
  width: 350px;
  max-width: 90%;
}

.control-panel {
  list-style: none;
  margin-bottom: 50px;
}

.control-panel-content {
  margin-bottom: 15px;
}

.key-strings-container {
  cursor: pointer;
}
.key-strings-container:hover {
  color: blue;
}
